body {
    background-color: #20262C;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin: 0;
}

container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

container h1{
    padding: 10px 200px;
    margin: 20px;
    color: #ffffff;
    filter: blur(1px);
    font-size: 40px;
}

container p{
    padding: 10px 200px;
    margin: 20px;
    color: #ffffff;
    font-family: "ubuntu";
    font-size: 24px;
}


navbar{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px;
    justify-content: center;
    border-radius: 14px;
    background-color: #29333B;
    border: 1px solid rgba(255,255,255,0.1);
}

navbar a{
    font-size: 18px;
    color: #b9b8c7;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 10px;
    border-radius: 8px;
    transition: all .3s ease;
}

navbar a:hover{
    background-color: aliceblue;
    color: #29333B;
    transform: translateY(-2px);
}
.socials {
    font-family: "Barlow", sans-serif;
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.socials a {
    color: #ffffff;
    text-decoration: none;
    filter: blur(2px);
    transition: all .3s ease;
    font-size: 20px;
}

.socials a:hover {
    filter: blur(0px);
}

.github {
    padding: 10px 200px;
    margin: 20px;
}

.insta {
    padding: 0px 200px;
    margin: 20px;
}

.discord {
}

