body{
    background: url("../bg.png");
    margin: 0;
}
.container{
    background-color: #060612;
    padding: 5px;
    border-color: rgb(84, 116, 202);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
    
}
.titlez{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #060612;
    color: aliceblue;
    text-align: center;
    padding: 2px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #060612;
    padding: 20px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover{
    color: rgb(65, 65, 221);
    filter: drop-shadow(0 0 5px rgb(65, 65, 221));
    transform: translateY(-2px);
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    color: aliceblue;
    background-color: #060612;
    padding: 20px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}


footer{
    color: aliceblue;
    text-align: center;
    margin-top: 200px;
    position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.music a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    background-color: aliceblue;
    padding: 2px 5px;
    margin: 2px;
    
}
.music a:hover{
    color: rgb(65, 65, 221);
    filter: drop-shadow(0 0 5px rgb(65, 65, 221));
    padding: 5px 7px;
}